<!DOCTYPE html>
<html lang="en">
	{% include head-relaunch.html %}
<body>
	<div class="main-wrapper">
		{% include header-relaunch.html %}

		<form>
		<section class="search">
			<input type="text" id="search-input" class="search--input" name="search-input" placeholder="Suche nach einem Rezept"/>
		</section>
		</form>
		<main id="results-container" class="main">
			{% assign sorted = site.recipes | sort:"date" %}
				{% for post in sorted %}
					<div class="recipe">
						<a href="{{ post.url | prepend: site.baseurl }}" class="recipe__link">
							<!-- TODO: Replace this src with FrontMatter -->
							<img src="https://placekitten.com/420/227" class="recipe__link--image" />
							<h2 class="recipe__link--title">{{ post.title }}</h2>
						</a>
					</div> 
					{% endfor %}

		</main>

	{% include footer-relaunch.html %}

</body>
</html>
